.winner-text {
    font-size: 5vmin;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1em;
}

.game-finished {
    font-size: 5vmin;
}

.restart-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in;
}