.o {
  vertical-align: middle;
  font-size: 3vmin;
}

.x {
  vertical-align: middle;
  font-size: 3vmin;
}

.big-symbol.o {
  font-size: 10vmin;
}
.big-symbol.x {
  font-size: 10vmin;
}
.big-symbol.draw {
  font-size: 10vmin;
}

/* TODO configure these sizes for different board sizes */
/* OR: configure these with CSS Vars? */
