.material-icons.big-symbol.o { font-size: 17vmin; }
.material-icons.big-symbol.x { font-size: 23vmin; }
.material-icons.big-symbol.no-winner { font-size: 23vmin; }
.material-icons { font-size: 5vmin; }