.animate-x-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-x;
}

.animate-o-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-o;
}

.animate-no-winner-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-no-winner;
}

.animate-o, .animate-x {
    animation-duration: 0.75s;
    animation-name: add-icon;
}

@keyframes add-icon {
    0% {
        font-size: 10vmin;
    }
    25% {
        font-size: 2vmin;
    }
    50% {
        font-size: 7vmin;
    }
    100% {
        font-size: 5vmin;
    }
}

@keyframes add-icon-big-x {
    0% {
        font-size: 39vmin;
    }
    25% {
        font-size: 8vmin;
    }
    60% {
        font-size: 29vmin;
    }
    100% {
        font-size: 23vmin;
    }
}

@keyframes add-icon-big-o {
    0% {
        font-size: 30vmin;
    }
    25% {
        font-size: 8vmin;
    }
    60% {
        font-size: 23vmin;
    }
    100% {
        font-size: 17vmin;
    }
}

@keyframes add-icon-big-no-winner {
    0% {
        font-size: 39vmin;
    }
    25% {
        font-size: 8vmin;
    }
    60% {
        font-size: 29vmin;
    }
    100% {
        font-size: 23vmin;
    }
}