.o {
  vertical-align: middle;
  fill: white;
  width: 85%;
}

.x {
  vertical-align: middle;
  fill: white;
  width: 85%;
}

.draw {
  vertical-align: middle;
  fill: white;
  width: 85%;
}

.o,
.x,
.draw {
  /* SVG is not focusable via keyboard so we can safely remove the focus styles! */
  outline: none;
}

.animateX,
.animateO,
.animateDraw {
  animation-duration: 0.7s;
  animation-name: add-icon;
}
