/*.animate-x-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-x;
}

.animate-o-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-o;
}

.animate-no-winner-big-symbol {
    animation-duration: 0.75s;
    animation-name: add-icon-big-no-winner;
}

.animate-o, .animate-x {
    animation-duration: 0.75s;
    animation-name: add-icon;
}

@keyframes add-icon {
    0% {
        font-size: 4.5rem;
    }
    25% {
        font-size: 1rem;
    }
    50% {
        font-size: 2.5rem;
    }
    100% {
        font-size: 1.5rem;
    }
}

@keyframes add-icon-big-x {
    0% {
        font-size: 18rem;
    }
    25% {
        font-size: 6rem;
    }
    60% {
        font-size: 13rem;
    }
    100% {
        font-size: 8rem;
    }
}

@keyframes add-icon-big-o {
    0% {
        font-size: 18rem;
    }
    25% {
        font-size: 5rem;
    }
    60% {
        font-size: 10rem;
    }
    100% {
        font-size: 6rem;
    }
}

@keyframes add-icon-big-no-winner {
    0% {
        font-size: 18rem;
    }
    25% {
        font-size: 5rem;
    }
    60% {
        font-size: 12rem;
    }
    100% {
        font-size: 10rem;
    }
}

@media (min-width: 35em) {
    @keyframes add-icon {
        0% {
            font-size: 4rem;
        }
        25% {
            font-size: 1rem;
        }
        60% {
            font-size: 2.5rem;
        }
        100% {
            font-size: 2rem;
        }
    }

    @keyframes add-icon-big-x {
        0% {
            font-size: 18rem;
        }
        25% {
            font-size: 5rem;
        }
        60% {
            font-size: 12rem;
        }
        100% {
            font-size: 9rem;
        }
    }

    @keyframes add-icon-big-o {
        0% {
            font-size: 18rem;
        }
        25% {
            font-size: 5rem;
        }
        60% {
            font-size: 12rem;
        }
        100% {
            font-size: 8rem;
        }
    }
}*/