.material-icons.big-symbol.o { font-size: 6em; }
.material-icons.big-symbol.x { font-size: 8em; }
.material-icons.big-symbol.no-winner { font-size: 10em; }
.material-icons { font-size: 1.5em; }

@media(min-width: 34em) {
    .material-icons.big-symbol.o { font-size: 8em; }
    .material-icons.big-symbol.x { font-size: 9em; }
    .material-icons.big-symbol.no-winner { font-size: 10em; }
    .material-icons { font-size: 2em; }
}