.o {
  vertical-align: middle;
  fill: white;
  width: 85%;

  position: absolute;
}

.x {
  vertical-align: middle;
  fill: white;
  width: 85%;

  position: absolute;
}

.draw {
  vertical-align: middle;
  fill: white;
  width: 85%;

  position: absolute;
}

.o,
.x,
.draw {
  /* SVG is not focusable via keyboard so we can safely remove the focus styles! */
  outline: none;
  /* Fix for Layouting Bug in Safari: #186 */
}

.animateX,
.animateO,
.animateDraw {
  animation-duration: 0.7s;
  animation-name: add-icon;
}

@keyframes add-icon {
  0% {
    width: 155%;
  }
  33% {
    width: 42%;
  }
  66% {
    width: 111%;
  }
  100% {
    width: 85%;
  }
}
