.analysisLayout {
  height: 100%;
  width: 100%;

  padding: 0.5em 1.5em 0.5em 1.5em;
  margin-bottom: 0.5em;

  display: grid;
  grid-gap: 1em;
  grid-column-gap: 1.5em;
  grid-template-areas: 'moveList' 'historyButtons' 'game';

  font-size: 16px;
}

.moveList {
  grid-area: moveList;
  padding: 0;
  overflow-y: scroll;
  min-height: 50vmin;
  position: relative;
}

.analysisGame {
  grid-area: game;
  height: 100%;
  width: 100%;
}

.historyButtons {
  grid-area: historyButtons;
  display: flex;
  justify-content: center;
}

/* Most Mobile Devices in Landscape mode and smaller screens */
@media only screen and (min-width: 568px) and (max-height: 768px) {
  .moveList {
    max-height: 100%;
  }

  .analysisLayout {
    grid-template-areas: '. historyButtons' 'moveList game';
    align-items: center;
  }
}

/* Bigger Screens */
@media only screen and (min-width: 1200px) {
  .moveList {
    max-height: 90%;
    align-self: flex-start;
  }

  .analysisLayout {
    grid-template-columns: minmax(20vmin, 1fr) 2fr;
    grid-template-rows: minmax(9vmin, 12vmin) auto;
    grid-template-areas: '. historyButtons' 'moveList game';
    align-items: center;

    width: 50%;
    padding: 0;
  }
}
