.big-board {
  display: grid;
  grid-template-columns: 10vmin 10vmin 10vmin;
  grid-template-rows: 10vmin 10vmin 10vmin;
  grid-gap: 1.5vmin;
  justify-content: center;
}

/* TODO make separate classes for Big BigBoard and Small BigBoard */
/* OR: configure these with CSS Vars? */
