.analysisOverviewLayout {
  display: grid;
  grid-template-areas: 'header' 'gameList';
  height: 100%;
}

.header {
  grid-area: header;
}

.heading {
  margin: 0 1em 0.5em;
}

.gameList {
  grid-area: gameList;
  overflow-y: scroll;
}
