.analysisOverviewLayout {
  display: grid;
  grid-template-areas: 'header' 'gameList';
  height: 100%;
}

.header {
  grid-area: header;
}

.gameList {
  grid-area: gameList;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2em;
  margin-bottom: 2em;
}
