.title {
  font-weight: 700 !important;
  color: inherit;
}

.title:hover {
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.5);
}

.primaryColor {
  color: var(--mdc-theme-primary) !important;
}

.listItem:global(.mdc-list-item--activated) {
  font-weight: 700 !important;
}
