.analysisLayout {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 40vmin auto;
    grid-template-areas: ". ." "moveList game";

    /*align-items: center;
    justify-content: center;*/

}

.mdc-list {
    padding: 0 !important;
}

.moveList {
    padding: 0;
    overflow-y: scroll;
    max-height: 81vmin;
    grid-area: moveList;
    /*
    min-width: 30vmin;
    max-height: 42vmin;
    border: 1px solid black;
    */

    /*width: 25%;
    float: left;
    margin-right: 1em;

    */
}

.analysisGame {
    grid-area: game;
    align-self: center;
    /*width: calc(75% - 1em);
    float: right;*/
}