.analysisLayout {
    display: grid;
    margin-top: 0.5vmin;
    grid-gap: 2vmin;
    grid-template-areas: "moveList game";

    /*align-items: center;
    justify-content: center;*/

}

.moveList {
    overflow-y: scroll;
    min-width: 30vmin;
    max-height: 42vmin;
    border: 1px solid black;
    grid-area: moveList;
}

.analysisGame {
    grid-area: game;
    align-self: center;
}