.mdc-list {
    padding: 0 !important;
}

.analysisLayout {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "moveList" "game";
    height: 100%;
}

.moveList {
    grid-area: moveList;
    padding: 0;
    overflow-y: scroll;
    min-height: 50vmin;
}

.analysisGame {
    grid-area: game;
    align-self: center;
}

@media only screen and (min-width: 1100px) {
    .moveList {
        max-height: 81vmin;
        align-self: center;
    }

    .analysisLayout {
        grid-template-columns: minmax(30vmin, 1fr) auto;
        grid-template-areas: "moveList game";
    }
}