.small-board {
  display: grid;
  grid-template-columns: 3vmin 3vmin 3vmin;
  grid-template-rows: 3vmin 3vmin 3vmin;
  grid-gap: 0.5vmin;
}

.small-board-finished {
  display: grid;
  grid-template-columns: 10vmin;
  grid-template-rows: 10vmin;
}

/* TODO make separate classes for Big SmallBoard and Small SmallBoard */
/* OR: configure these with CSS Vars? */
