
.small-board {
    display: grid;
    grid-template-columns: 8vmin 8vmin 8vmin;
    grid-template-rows: 8vmin 8vmin 8vmin;
    grid-gap: 0.5vmin;
}

.small-board-finished {
    display: grid;
    grid-template-columns: 25vmin;
    grid-template-rows: 25vmin;
}