.small-board {
    display: grid;
    grid-template-columns: 3.5vh 3.5vh 3.5vh;
    grid-template-rows: 3.5vh 3.5vh 3.5vh;
    grid-gap: 1vh;
}

.small-board-finished {
    display: grid;
    grid-template-columns: 12.5vh;
    grid-template-rows: 12.5vh;
}

@media(min-width: 35em) {
    .small-board {
        grid-template-columns: 6vh 6vh 6vh;
        grid-template-rows: 6vh 6vh 6vh;
    }

    .small-board-finished {
        grid-template-columns: 20vh;
        grid-template-rows: 20vh;
    }
}