html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 2vh;
  font-family: sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.big-board {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-gap: 0.1vh;
}

.text-center {
  text-align: center;
}