:root {
    --tropical-teal: #008891;
    --incremental-blue: #0F3057;
    --mdc-theme-primary: var(--tropical-teal);
    --mdc-theme-text-icon-on-background: black;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Got this from medium: https://medium.design/system-shock-6b1dc6d6596f */
    font-family: -apple-system, ".SFNSText-Regular",
    "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

html,body, .center, #root {
    height: 100%
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    display: grid;
}

.text-center {
    text-align: center;
}