.gameWrapper {
  display: grid;
  grid-template-columns: 80vmin;

  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 9px;

  /* Fix for Layouting Bug in Safari: #186 */
  overflow: hidden;
}

@media only screen and (min-width: 500px) {
  .gameWrapper {
    font-size: 12px;
  }
}

@media only screen and (min-width: 700px) {
  .gameWrapper {
    font-size: 16px;
  }
}
